@font-face {
  font-family: 'Starz 2016';
  src: url('./assets/fonts/Starz2016.eot');
  src: url('./assets/fonts/Starz2016.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Starz2016.woff2') format('woff2'),
    url('./assets/fonts/Starz2016.woff') format('woff'),
    url('./assets/fonts/Starz2016.svg#Starz2016') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galvji';
  src: url('./assets/fonts/Galvji.eot');
  src: url('./assets/fonts/Galvji.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Galvji.woff2') format('woff2'),
    url('./assets/fonts/Galvji.woff') format('woff'),
    url('./assets/fonts/Galvji.svg#Galvji') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url('./assets/fonts/Garamond.eot');
  src: url('./assets/fonts/Garamond.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Garamond.woff2') format('woff2'),
    url('./assets/fonts/Garamond.woff') format('woff'),
    url('./assets/fonts/Garamond.svg#Garamond') format('svg');
  font-style: normal;
  font-display: swap;
}

.align-items-center {
  align-items: center;
}

.contenedor-centrado-flex {
  display: flex;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.font-family-Galvji {
  font-family: 'Galvji';
}

.font-family-Starz-2016 {
  font-family: 'Starz 2016';
}

.font-family-Garamond {
  font-family: 'Garamond';
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.art-direction {
  padding-top: 60px;
  padding-bottom: 60px;
}

.art-direction h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

.art-direction h1 span:first-child {
  padding-right: 15px;
}

.art-direction h1 span:last-child {
  padding-right: 30px;
}

.art-direction h1 span:first-child::before {
  width: 86%;
}

.art-direction h1 span:last-child::before {
  width: 80%;
}

#slider-art-direction img {
  width: 289px;
}





#slider-art-direction h4 {
  font-family: Galvji;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
  text-transform: uppercase;
}

#slider-art-direction .slick-slide>div {
  margin-right: 1rem;
}

.aboutme {
  padding-top: 30px;
  padding-bottom: 30px;
}

.aboutme h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}

.aboutme p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}

.aboutme img {
  width: 344px;
  margin-right: auto;
  margin-left: auto;
}

.fondo-amarillo-titular {
  position: relative;
  z-index: 0;
  display: inline-block;
  text-transform: uppercase;
}

.fondo-amarillo-titular::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: rgba(209, 255, 3, 1);
  z-index: -1;
}

.background-color-F5F5F5 {
  background-color: #F5F5F5;
}

.aboutme-image-nt {
  width: 344px;
}

.footer-nt-nombre {
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;

}

.footer-nt-cargo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;


}

.nt-footer {
  background-color: rgba(209, 255, 3, 1);
  padding-top: 30px;
  padding-bottom: 60px;
}

.nt-footer_logo {
  width: 96px;
  height: 112px;
}

.nt-footer_ico-redes {
  width: 24px;
  height: 24px;

}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.position-absolute {
  position: absolute;
}

p {
  margin-bottom: 0px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.nombre-image {
  width: 154px;
  height: 44.3px;
  margin-bottom: 8px;
}

.row-nombres a {
  font-family: Galvji;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: initial;

}

.row-nombres h1,
.row-nombres h2,
.row-nombres a:not(:last-child) {
  margin-bottom: 5px;
}

.ml1 {
  margin-left: 1rem;
}

.mb5px {
  margin-bottom: 5px;
}

.width-100 {
  width: 100%;
}

.modal-body>p {
  font-family: Galvji;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.row-redes img {
  margin-right: 15px;
  width: 18px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.row-redes a:hover img {
  transform: scale(1.1);

}

.row-redes a:hover img.whatsapp {
  content: url('./assets/images/whatsapp-ico-rosa.png');
}

.row-redes a:hover img.instagram {
  content: url('./assets/images/instagram-ico-rosa.png');
}

.row-redes a:hover img.linkedin {
  content: url('./assets/images/linkedin-ico-rosa.png');
}

.row-redes a:hover img.facebook {
  content: url('./assets/images/facebook-ico-rosa.png');
}

.row-redes {
  right: 15px;
  bottom: 25px;
  position: absolute;
}

.position-relative {
  position: relative;
}

.align-self-flex-start {
  align-self: flex-start;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  border-bottom: none;
}

.modal-header .btn-close {
  opacity: 1;
  align-self: baseline;
  border-radius: 50%;
  border: 1px solid black;
}

.modal-header>div {}

.modal-header h1 {
  max-width: 150px;
}

.modal-header h1 span:last-child {
  padding-right: 25px;
}

@media (min-width: 767px) {


  .footer-nt-nombre {
    font-size: 35px;
    line-height: 46px;

  }

  .footer-nt-cargo {
    font-size: 30px;
    line-height: 33px;

  }

  .nombre-image {
    margin-bottom: 10px;
  }



  .nt-footer {
    padding-bottom: 60px;
  }

  .nt-footer_ico-redes {
    width: 39px;
    height: 39px;

  }

  .nt-footer_logo {
    width: 159.6133575439453px;
    height: 186.78160095214844px;
  }

  .nombre-image {
    width: 257.46px;
    height: 74.21px;
  }

  .row-nombres a {

    font-size: 20px;
    line-height: 23px;



  }

  .row-nombres h1,
  .row-nombres h2,
  .row-nombres a:not(:last-child) {
    margin-bottom: 10px;
  }

  .row-redes {
    position: relative;
    right: inherit;
    bottom: inherit;
    top: 25px;
  }

  .row-redes img {
    width: 28px;
    margin-right: 35px;
  }

  .aboutme {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .aboutme h1 {
    font-size: 80px;
    line-height: 103px;
  }

  .aboutme p {
    font-size: 20px;
    line-height: 24px;
  }

  .aboutme .row {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .aboutme img {
    width: 531px;
  }

  #slider-art-direction img {
    width: 339px;
  }

  #slider-art-direction h4 {
    font-size: 25px;
    line-height: 29px;
  }

  #slider-art-direction .slick-next {
    right: 80px;
  }

  #slider-art-direction .slick-prev {
    left: 60px;
    z-index: 1;
  }

  #slider-art-direction .slick-prev,
  #slider-art-direction .slick-next {
    width: 50px;
    height: 50px;
    border: solid rgba(241, 4, 180, 1);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 3px;
    top: 40%;
  }

  #slider-art-direction .slick-prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  #slider-art-direction .slick-next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #slider-art-direction .slick-prev:before,
  #slider-art-direction .slick-next:before {
    content: none;
  }
}