@font-face {
  font-family: 'Starz 2016';
  src: url('./assets/fonts/Starz2016.eot');
  src: url('./assets/fonts/Starz2016.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Starz2016.woff2') format('woff2'),
    url('./assets/fonts/Starz2016.woff') format('woff'),
    url('./assets/fonts/Starz2016.svg#Starz2016') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Galvji';
  src: url('./assets/fonts/Galvji.eot');
  src: url('./assets/fonts/Galvji.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Galvji.woff2') format('woff2'),
    url('./assets/fonts/Galvji.woff') format('woff'),
    url('./assets/fonts/Galvji.svg#Galvji') format('svg');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url('./assets/fonts/Garamond.eot');
  src: url('./assets/fonts/Garamond.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Garamond.woff2') format('woff2'),
    url('./assets/fonts/Garamond.woff') format('woff'),
    url('./assets/fonts/Garamond.svg#Garamond') format('svg');
  font-style: normal;
  font-display: swap;
}

.art-direction {
  position: relative;
}

.art-direction::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 14px;
  background-color: rgba(209, 255, 3, 1);
  z-index: 0;
}

.align-items-center {
  align-items: center;
}

.contenedor-centrado-flex {
  display: flex;
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.font-family-Galvji {
  font-family: 'Galvji';
}

.font-family-Starz-2016 {
  font-family: 'Starz 2016';
}

.font-family-Garamond {
  font-family: 'Garamond';
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.art-direction {
  padding-top: 60px;
  padding-bottom: 60px;
}

.art-direction h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  margin-bottom: 40px;
}

.art-direction h1 span:first-child {
  padding-right: 15px;
}

.art-direction h1 span:last-child {
  padding-right: 30px;
}

.art-direction h1 span:first-child::before {
  width: 86%;
}

.art-direction h1 span:last-child::before {
  width: 80%;
}

#slider-art-direction img {
  width: 289px;
}





#slider-art-direction h4 {
  font-family: Galvji;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
  text-transform: uppercase;
}

#slider-art-direction .slick-slide>div,
#slider-photography .slick-slide>div {
  /* margin-right: 10rem; */
  /* margin-left: 10rem; */
}

#slider-photography .slick-slide,
#slider-art-direction .slick-slide {
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
}

#slider-photography img,
#slider-art-direction img {
  /* margin-right: 1rem; */
}

.aboutme {
  padding-top: 30px;
  padding-bottom: 30px;
}

.aboutme h1 {
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}

.aboutme p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}

.aboutme img {
  width: 344px;
  margin-right: auto;
  margin-left: auto;
}

.fondo-amarillo-titular {
  position: relative;
  z-index: 0;
  display: inline-block;
  text-transform: uppercase;
}

.fondo-amarillo-titular::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: rgba(209, 255, 3, 1);
  z-index: -1;
}

.background-color-F5F5F5 {
  background-color: #F5F5F5;
}

.aboutme-image-nt {
  width: 344px;
}

.footer-nt-nombre {
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;

}

.footer-nt-cargo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;


}

.nt-footer {
  background-color: rgba(209, 255, 3, 1);
  padding-top: 30px;
  padding-bottom: 60px;
}

.nt-footer_logo {
  width: 96px;
  height: 112px;
}

.nt-footer_ico-redes {
  width: 24px;
  height: 24px;

}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.position-absolute {
  position: absolute;
}

p {
  margin-bottom: 0px;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.nombre-image {
  width: 154px;
  height: 44.3px;
  margin-bottom: 8px;
}

.row-nombres a {
  font-family: Galvji;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: initial;

}

.row-nombres h1,
.row-nombres h2,
.row-nombres a:not(:last-child) {
  margin-bottom: 5px;
}

.ml1 {
  margin-left: 1rem;
}

.mb5px {
  margin-bottom: 5px;
}

.width-100 {
  width: 100%;
}

.modal-body>p {
  font-family: Galvji;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.row-redes img {
  margin-right: 15px;
  width: 18px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.row-redes a:hover img,
.header .redes a:hover img {
  transform: scale(1.1);

}

.row-redes a:hover img.whatsapp,
.header .redes a:hover img.whatsapp {
  content: url('./assets/images/whatsapp-ico-rosa.png');
}

.row-redes a:hover img.instagram,
.header .redes a:hover img.instagram {
  content: url('./assets/images/instagram-ico-rosa.png');
}

.row-redes a:hover img.linkedin,
.header .redes a:hover img.linkedin {
  content: url('./assets/images/linkedin-ico-rosa.png');
}

.row-redes a:hover img.facebook {
  content: url('./assets/images/facebook-ico-rosa.png');
}

.header .redes a:hover img.mail {
  content: url('./assets/images/mail-ico-rosa.png');
}

.row-redes {
  right: 15px;
  bottom: 25px;
  position: absolute;
}

.position-relative {
  position: relative;
}

.align-self-flex-start {
  align-self: flex-start;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  border-bottom: none;
}

.modal-header .btn-close {
  opacity: 1;
  align-self: baseline;
  border-radius: 50%;
  border: 2px solid black;
}




.modal-header h1 {
  max-width: 150px;
}

.modal-header h1 span:last-child {
  padding-right: 25px;
}

#slider-photography img {
  border-radius: 10px;
  width: 274.27px;
  height: 393.21px;
}

#slider-photography h4 {
  font-family: Galvji;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
}

#slider-photography h1 {
  margin-bottom: 30px;
}

.photography {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.photography h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
}

.photography h1:first-child {
  margin-bottom: 0px;
  padding-right: 15px;
}

.photography h1:first-child::before {
  width: 89%;
}

.photography h1:last-child {
  margin-bottom: 40px;
}

.photography h1:last-child::before {
  width: 66%;
  margin-right: 84px;
}

.header {
  position: relative;
  background-image: url('./assets/images/header-imagen-mob.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 50% 235px;
  padding-bottom: 750px;
  background-color: #fdfdfd;
}

.header .logo img {
  width: 72px;
}

.header .cargo h1 {
  font-family: 'Starz 2016';
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  width: 180px;
  margin-bottom: -10px;
}

.header .cargo span {
  font-family: Garamond;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;

}

.header .row .col>div:first-child {
  margin-top: 2rem;
}

.header .cargo {
  margin-left: 1rem;
}

.header .redes img {
  width: 24px;
}

.header .redes {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(209, 255, 3, 1);
}

.header .redes a {
  padding: 1rem;
}

@media (min-width: 430px) {
  .header {
    background-image: url('./assets/images/header-imagen.png');
    background-position: right 235px;
    /* background-size: 100%; */
  }
}

@media (min-width: 767px) {


  .footer-nt-nombre {
    font-size: 35px;
    line-height: 46px;

  }

  .footer-nt-cargo {
    font-size: 30px;
    line-height: 33px;

  }

  .nombre-image {
    margin-bottom: 10px;
  }



  .nt-footer {
    padding-bottom: 60px;
  }

  .nt-footer_ico-redes {
    width: 39px;
    height: 39px;

  }

  .nt-footer_logo {
    width: 159.6133575439453px;
    height: 186.78160095214844px;
  }

  .nombre-image {
    width: 257.46px;
    height: 74.21px;
  }

  .row-nombres a {

    font-size: 20px;
    line-height: 23px;



  }

  .row-nombres h1,
  .row-nombres h2,
  .row-nombres a:not(:last-child) {
    margin-bottom: 10px;
  }

  .row-redes {
    position: relative;
    right: inherit;
    bottom: inherit;
    top: 25px;
  }

  .row-redes img {
    width: 28px;
    margin-right: 35px;
  }

  .aboutme {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .aboutme h1 {
    font-size: 80px;
    line-height: 103px;
  }

  .aboutme p {
    font-size: 20px;
    line-height: 24px;
  }

  .aboutme .row {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .aboutme img {
    width: 531px;
  }

  #slider-art-direction img {
    width: 339px;
  }

  #slider-art-direction h4 {
    font-size: 25px;
    line-height: 29px;
  }

  #slider-art-direction .slick-next,
  #slider-photography .slick-next {
    right: 80px;
  }

  #slider-art-direction .slick-prev,
  #slider-photography .slick-prev {
    left: 60px;
    z-index: 1;
  }

  #slider-art-direction .slick-prev,
  #slider-art-direction .slick-next,
  #slider-photography .slick-prev,
  #slider-photography .slick-next {
    width: 50px;
    height: 50px;
    border: solid rgba(241, 4, 180, 1);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 3px;
    top: 40%;
  }

  #slider-art-direction .slick-prev,
  #slider-photography .slick-prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  #slider-art-direction .slick-next,
  #slider-photography .slick-next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  #slider-art-direction .slick-prev:before,
  #slider-art-direction .slick-next:before,
  #slider-photography .slick-prev:before,
  #slider-photography .slick-next:before {
    content: none;
  }

  .art-direction {
    position: relative;
  }



  .header {
    background-image: url('./assets/images/header-imagen.png');
    padding-bottom: 50vw;
    background-size: cover;
    background-position: 0 0;
  }

  .header .logo img {
    width: 149px;
  }

  .header .cargo h1 {
    font-size: 89px;
    line-height: 76px;
  }

  .header .cargo span {
    font-size: 37px;
    line-height: 82px;
  }

  .header .contenedor-centrado-flex {
    justify-content: flex-start;
    margin-top: 4rem !important;
    margin-left: 4rem;
  }

  .photography {
    padding-top: 60px;
  }

  .photography h1 {
    display: inline-block;
    font-size: 60px;
    line-height: 77px;
  }

  .photography h1:last-child {
    padding-right: 30px;
  }

  .photography h1:last-child::before {
    margin-right: 0px;
    width: 100%;
  }

  .photography::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: -20px;
    width: 14px;
    height: 80%;
    background-color: rgba(209, 255, 3, 1);
    z-index: 0;
  }
}